<div class="change-password-container">
  <div class="flexbox">
    <div class="col">
      <div class="form-container">
        <h1>Change Password</h1>
        <div
          id="change-password-form-container"
          *ngIf="!successMessage && !seriousErrorMessage">
          <form
            [formGroup]="changePasswordForm"
            (ngSubmit)="onSubmit()">
            <div
              class="form-group"
              data-private>
              <label for="password">New Password:</label>
              <input
                type="password"
                id="password"
                formControlName="password" />
              <div
                *ngIf="changePasswordForm.get('password')?.errors?.['required'] && changePasswordForm.get('password')?.touched"
                class="helper-error-text">
                {{ errorTextPasswordRequired }}
              </div>
              <div
                *ngIf="changePasswordForm.get('password')?.errors?.['minlength'] && changePasswordForm.get('password')?.touched"
                class="helper-error-text">
                {{ errorTextPasswordMinLength }}
              </div>
              <div
                class="helper-error-text"
                *ngIf="changePasswordForm.controls['password'].errors?.['pattern'] && !changePasswordForm.get('password')?.errors?.['minlength']">
                {{ errorTextPasswordComplexity }}
              </div>
            </div>

            <div
              class="form-group"
              data-private>
              <label for="confirmPassword">Confirm New Password:</label>
              <input
                type="password"
                id="confirmPassword"
                formControlName="confirmPassword" />
              <div
                *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['required'] && changePasswordForm.get('confirmPassword')?.touched"
                class="helper-error-text">
                {{ errorTextConfirmationPasswordRequired }}
              </div>
              <div
                *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['minlength'] && changePasswordForm.get('confirmPassword')?.touched"
                class="helper-error-text">
                {{ errorTextPasswordMinLength }}
              </div>
              <div
                class="helper-error-text"
                *ngIf="changePasswordForm.controls['confirmPassword'].errors?.['pattern'] && !changePasswordForm.get('confirmPassword')?.errors?.['minlength']">
                {{ errorTextPasswordComplexity }}
              </div>
              <div
                *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['mustMatch'] && changePasswordForm.get('confirmPassword')?.touched && changePasswordForm.get('password')?.touched"
                class="helper-error-text">
                {{ errorTextPasswordsDoNotMatch }}
              </div>
            </div>

            <button
              type="submit"
              class="submit-button"
              [disabled]="!changePasswordForm.valid">
              Change Password
            </button>
          </form>
        </div>
        <div
          id="password-change-message-container"
          *ngIf="successMessage">
          <app-lcars-information-message
            title="Transmitting..."
            [message]="successMessage"></app-lcars-information-message>
        </div>
        <div
          id="password-change-series-error-message-container"
          *ngIf="seriousErrorMessage">
          <app-lcars-error-message
            *ngIf="seriousErrorMessage"
            title="Error"
            [message]="seriousErrorMessage"></app-lcars-error-message>

          <div class="buttons">
            <a
              [routerLink]="getRouteLink(appRoutes.REGISTER)"
              class="full-width-btn-link mars"
              >Reset Password</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col right password-change-side-col">
      <div class="column-container">
        <div class="lcars-text-bar">
          <span>Auxiliary Controls</span>
        </div>
        <div class="buttons">
          <a
            [routerLink]="getRouteLink(appRoutes.LOGIN)"
            class="full-width-btn-link gold"
            >Login</a
          >
          <a
            [routerLink]="getRouteLink(appRoutes.REGISTER)"
            class="full-width-btn-link sunflower"
            >Register</a
          >
        </div>
      </div>
      <app-lcars-error-message
        *ngIf="errorMessage"
        title="Transmitting..."
        [message]="errorMessage"></app-lcars-error-message>
    </div>
  </div>
</div>
