<div class="change-password-container">
  <div class="flexbox">
    <div class="col">
      <div class="form-container">
        <h1>Change Password</h1>
        @if (!successMessage && !seriousErrorMessage) {
          <div id="change-password-form-container">
            <form
              [formGroup]="changePasswordForm"
              (ngSubmit)="onSubmit()">
              <div
                class="lcars-input-container perano"
                data-private>
                <label for="password">New Password</label>
                <input
                  type="password"
                  id="password"
                  formControlName="password" />
                @if (changePasswordForm.get('password')?.errors?.['required'] && changePasswordForm.get('password')?.touched) {
                  <div class="field-error">{{ errorTextPasswordRequired }}</div>
                }
                @if (changePasswordForm.get('password')?.errors?.['minlength'] && changePasswordForm.get('password')?.touched) {
                  <div class="field-error">{{ errorTextPasswordMinLength }}</div>
                }
                @if (changePasswordForm.controls['password'].errors?.['pattern'] && !changePasswordForm.get('password')?.errors?.['minlength']) {
                  <div class="field-error">{{ errorTextPasswordComplexity }}</div>
                }
              </div>

              <div
                class="lcars-input-container bluey"
                data-private>
                <label for="confirmPassword">Confirm New Password</label>
                <input
                  type="password"
                  id="confirmPassword"
                  formControlName="confirmPassword" />
                @if (changePasswordForm.get('confirmPassword')?.errors?.['required'] && changePasswordForm.get('confirmPassword')?.touched) {
                  <div class="field-error">{{ errorTextConfirmationPasswordRequired }}</div>
                }
                @if (changePasswordForm.get('confirmPassword')?.errors?.['minlength'] && changePasswordForm.get('confirmPassword')?.touched) {
                  <div class="field-error">{{ errorTextPasswordMinLength }}</div>
                }
                @if (changePasswordForm.controls['confirmPassword'].errors?.['pattern'] && !changePasswordForm.get('confirmPassword')?.errors?.['minlength']) {
                  <div class="field-error">{{ errorTextPasswordComplexity }}</div>
                }
                @if (changePasswordForm.get('confirmPassword')?.errors?.['mustMatch'] && changePasswordForm.get('confirmPassword')?.touched && changePasswordForm.get('password')?.touched) {
                  <div class="field-error">{{ errorTextPasswordsDoNotMatch }}</div>
                }
              </div>
              <button
                type="submit"
                class="submit-button"
                [disabled]="!changePasswordForm.valid">
                Change Password
              </button>
            </form>
          </div>
        }
        @if (successMessage) {
          <div id="password-change-message-container">
            <app-lcars-information-message
              title="Transmitting..."
              [message]="successMessage"></app-lcars-information-message>
          </div>
        }
        @if (seriousErrorMessage) {
          <div id="password-change-series-error-message-container">
            @if (seriousErrorMessage) {
              <app-lcars-error-message
                title="Error"
                [message]="seriousErrorMessage"></app-lcars-error-message>
            }
            <div class="buttons">
              <a
                [routerLink]="getRouteLink(appRoutes.REGISTER)"
                class="full-width-btn-link mars"
                >Reset Password</a
              >
            </div>
          </div>
        }
      </div>
    </div>
    <div class="col right password-change-side-col">
      <div class="column-container">
        <div class="lcars-text-bar">
          <span>Auxiliary Controls</span>
        </div>
        <div class="buttons">
          <a
            [routerLink]="getRouteLink(appRoutes.LOGIN)"
            class="full-width-btn-link gold"
            >Login</a
          >
          <a
            [routerLink]="getRouteLink(appRoutes.REGISTER)"
            class="full-width-btn-link sunflower"
            >Register</a
          >
        </div>
      </div>
      @if (errorMessage) {
        <app-lcars-error-message
          title="Transmitting..."
          [message]="errorMessage"></app-lcars-error-message>
      }
    </div>
  </div>
</div>
