.lcars-login-link-container {
  max-width: 400px;

  .lcars-text-bar {
    margin-bottom: 0;
  }

  .buttons {
    margin-top: 0;
  }
}

.lcars-retry-verify-link-container {
  margin-top: 50px;
}

button#verify-btn {
  min-width: 200px;
  width: 60%;
}
