@if (isSubmitting) {
  <app-loading-bar loadingText="Authenticating"></app-loading-bar>
}
<div class="login-container">
  <div class="flexbox">
    <div class="col">
      <div class="form-container">
        <h1>Login</h1>
        <form
          (ngSubmit)="onLogin()"
          class="form">
          <div class="form-group">
            <label for="email">Email:</label>
            <input
              type="email"
              id="email"
              name="email"
              [(ngModel)]="email"
              aria-label="Email"
              required
              pattern="EMAIL_PATTERN"
              [class.errored]="errorMessage ? true : false"
              (input)="validateInputs()" />
            @if (email.trim() !== '' && !validateEmail(email)) {
              <div class="helper-error-text">
                {{ errorTextInvalidEmailFormat }}
              </div>
            }
          </div>
          <div
            class="form-group"
            data-private>
            <label for="password">Password:</label>
            <input
              type="password"
              id="password"
              name="password"
              [(ngModel)]="password"
              aria-label="Password"
              required
              [class.errored]="errorMessage ? true : false"
              (input)="validateInputs()" />
          </div>
          <button
            type="submit"
            class="submit-button"
            [disabled]="!inputsValid || isSubmitting"
            [ngClass]="{ submitting: isSubmitting }">
            Login
          </button>
        </form>
      </div>
    </div>
    <div class="col login-side-col">
      <div class="column-container">
        <div class="lcars-text-bar">
          <span>Auxiliary Controls</span>
        </div>
        <div class="buttons">
          <a
            [routerLink]="getRouteLink(appRoutes.REGISTER)"
            class="full-width-btn-link gold"
            >Register</a
          >
          <a
            [routerLink]="getRouteLink(appRoutes.RESET_PASSWORD)"
            class="full-width-btn-link sunflower"
            >Reset Password</a
          >
        </div>
      </div>
      @if (errorMessage) {
        <app-lcars-error-message
          title="Access Denied"
          [message]="errorMessage"></app-lcars-error-message>
      }
    </div>
  </div>
</div>
