@awesome.me:registry=https://npm.fontawesome.com
@fortawesome:registry=https://npm.fontawesome.com
@awesome.me:always-auth=true
@fortawesome:always-auth=true
//npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_AUTH_TOKEN}
//npm.fontawesome.com/:always-auth=true
