<h2 mat-dialog-title>{{ data.mode === 'add' ? 'Add' : 'Edit' }} STO Account</h2>

<mat-dialog-content>
  @if (isSubmitting) {
    <app-loading-bar
      [loadingText]="
        isLoadingMetadata
          ? 'Loading Metadata'
          : data.mode === 'add'
            ? 'Creating Account'
            : 'Updating Account'
      "></app-loading-bar>
  }
  @if (errorMessage) {
    <app-lcars-error-message [message]="errorMessage"></app-lcars-error-message>
  }
  <form
    [formGroup]="accountForm"
    class="account-form">
    <div class="lcars-input-container perano">
      <label for="handle">Handle</label>
      <input
        type="text"
        id="handle"
        formControlName="handle"
        placeholder="e.g. Username#1234" />
      @if (
        accountForm.get('handle')?.hasError('required') &&
        accountForm.get('handle')?.touched
      ) {
        <div class="field-error">Handle is required</div>
      }
      @if (
        accountForm.get('handle')?.hasError('pattern') &&
        accountForm.get('handle')?.touched
      ) {
        <div class="field-error">
          Handle must be in the format Username#1234
        </div>
      }
    </div>

    <div class="lcars-input-container bluey">
      <label for="username">Username (Optional)</label>
      <input
        type="text"
        id="username"
        formControlName="username" />
    </div>

    <div class="lcars-input-container sunflower">
      <label for="email">Email (Optional)</label>
      <input
        type="email"
        id="email"
        formControlName="email" />
      @if (
        accountForm.get('email')?.hasError('email') &&
        accountForm.get('email')?.touched
      ) {
        <div class="field-error">Invalid email format</div>
      }
    </div>

    <div class="lcars-input-container gold">
      <label for="accountCreatedDate">Account Created Date</label>
      <input
        type="date"
        id="accountCreatedDate"
        formControlName="accountCreatedDate" />
    </div>

    <div class="lcars-select-container tangerine">
      <label for="platformId">Platform</label>
      <select
        id="platformId"
        formControlName="platformId">
        <option value="">Select a platform</option>
        @for (platform of platforms; track platform.id) {
          <option [value]="platform.id">{{ platform.name }}</option>
        }
      </select>
    </div>

    <div class="lcars-select-container bluey">
      <label for="launcherId">Launcher (Optional)</label>
      <select
        id="launcherId"
        formControlName="launcherId">
        <option value="">None</option>
        @for (launcher of filteredLaunchers; track launcher.id) {
          <option [value]="launcher.id">{{ launcher.name }}</option>
        }
      </select>
    </div>

    <div class="lcars-input-container perano">
      <label for="notes">Notes</label>
      <textarea
        id="notes"
        formControlName="notes"></textarea>
    </div>

    <div class="toggle-container">
      <mat-slide-toggle
        formControlName="lifetimeSubscription"
        aria-label="Lifetime Subscription"
        >Lifetime Subscription</mat-slide-toggle
      >
    </div>

    <div class="toggle-container">
      <mat-slide-toggle
        formControlName="publiclyVisible"
        aria-label="Publicly Visible"
        >Publicly Visible</mat-slide-toggle
      >
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="buttons-container">
    <button
      type="button"
      class="lcars-btn red"
      mat-button
      (click)="onCancelClick()">
      Cancel
    </button>
    <button
      type="submit"
      class="lcars-btn green"
      mat-button
      [disabled]="!accountForm.valid || isSubmitting"
      [ngClass]="{ submitting: isSubmitting }"
      (click)="onSaveClick()">
      {{ data.mode === 'add' ? 'Add' : 'Save' }}
    </button>
  </div>
</mat-dialog-actions>
