<h2 mat-dialog-title>{{ data.mode === 'add' ? 'Add' : 'Edit' }} STO Account</h2>

<mat-dialog-content>
  @if (isSubmitting) {
    <app-loading-bar
      [loadingText]="
        isLoadingMetadata
          ? 'Loading Metadata'
          : data.mode === 'add'
            ? 'Creating Account'
            : 'Updating Account'
      "></app-loading-bar>
  }
  @if (errorMessage) {
    <app-lcars-error-message [message]="errorMessage"></app-lcars-error-message>
  }
  <form
    [formGroup]="accountForm"
    class="account-form">
    <mat-form-field appearance="fill">
      <mat-label>Handle</mat-label>
      <input
        matInput
        formControlName="handle"
        title="Handle"
        aria-label="Handle"
        placeholder="e.g. Username#1234" />
      @if (accountForm.get('handle')?.hasError('required')) {
        <mat-error>Handle is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Username (Optional)</mat-label>
      <input
        matInput
        formControlName="username"
        title="Username"
        aria-label="Username" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email (Optional)</mat-label>
      <input
        matInput
        formControlName="email"
        title="Email"
        aria-label="Email"
        type="email" />
      @if (accountForm.get('email')?.hasError('email')) {
        <mat-error>Invalid email format</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Account Created Date</mat-label>
      <input
        matInput
        formControlName="accountCreatedDate"
        title="Account Created Date"
        aria-label="Account Created Date"
        type="date" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Platform</mat-label>
      <mat-select
        formControlName="platformId"
        title="Platform"
        aria-label="Platform">
        @for (platform of platforms; track platform.id) {
          <mat-option [value]="platform.id">{{ platform.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Launcher (Optional)</mat-label>
      <mat-select
        formControlName="launcherId"
        title="Launcher"
        aria-label="Launcher">
        <mat-option [value]="''">None</mat-option>
        @for (launcher of filteredLaunchers; track launcher.id) {
          <mat-option [value]="launcher.id">{{ launcher.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Notes</mat-label>
      <textarea
        matInput
        formControlName="notes"
        title="Notes"
        aria-label="Notes"></textarea>
    </mat-form-field>

    <div class="toggle-container">
      <mat-slide-toggle
        formControlName="lifetimeSubscription"
        aria-label="Lifetime Subscription"
        >Lifetime Subscription</mat-slide-toggle
      >
    </div>

    <div class="toggle-container">
      <mat-slide-toggle
        formControlName="publiclyVisible"
        aria-label="Publicly Visible"
        >Publicly Visible</mat-slide-toggle
      >
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="buttons-container">
    <button
      type="button"
      class="lcars-btn red"
      mat-button
      (click)="onCancelClick()">
      Cancel
    </button>
    <button
      type="submit"
      class="lcars-btn green"
      mat-button
      [disabled]="!accountForm.valid || isSubmitting"
      [ngClass]="{ submitting: isSubmitting }"
      (click)="onSaveClick()">
      {{ data.mode === 'add' ? 'Add' : 'Save' }}
    </button>
  </div>
</mat-dialog-actions>
