<div>
  <h1>About the {{ appTitle }}</h1>
  <div class="lcars-text-bar">
    <span>About me, the developer</span>
  </div>
  <p>
    My name is Steve, mostly known in the Star Trek Online community as
    MidNiteShadow7. I have been a podcaster and I was previously a STO forum
    moderator.
  </p>
  <p>For my work, I am a software developer from the UK.</p>

  <div class="lcars-text-bar">
    <span>The App</span>
  </div>
  <p>
    This app was born from having my Excel spreadsheet getting too big to manage
    96 character across 6 accounts on 2 platforms! As my spreadsheet was
    struggling to keep up, I decided to make an app.
  </p>
  <p>
    The plan is to have this app be able to track informarion about your STO
    accounts, characters and fleets.
  </p>

  <div class="lcars-text-bar">
    <span>Connect with me in-game</span>
  </div>
  <p>
    If you want to connect with me in Star Trek Online, my PC handle is
    @MidNiteShadow7 and on PlayStation it is @MidNiteGeek.
  </p>
</div>
