<app-loading-bar
  *ngIf="isSubmitting"
  loadingText="Saving"></app-loading-bar>
<div class="lcars-profile-pic-container">
  <div class="lcars-profile-pic-inner-container">
    <div class="lcars-text-bar">
      <span>Starfleet Personnel Record Photo: Edit</span>
    </div>
    <div
      *ngIf="data?.user"
      class="lcars-profile-pic-message">
      <div class="flexbox">
        <div class="col profile-pic-main-col">
          <input
            type="file"
            (change)="onFileChangeEvent($event)"
            accept="image/jpg, image/jpeg, image/png"
            [disabled]="isSubmitting"
            class="file-input" />

          <image-cropper
            *ngIf="imageChangedEvent"
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="1 / 1"
            [output]="'blob'"
            format="png"
            (imageCropped)="onImageCropped($event)"
            (loadImageFailed)="loadImageFailed()"></image-cropper>
        </div>
        <div class="col profile-pic-side-col">
          <app-lcars-error-message
            *ngIf="errorMessage"
            title="Transmission Error"
            [message]="errorMessage"></app-lcars-error-message>

          <div
            *ngIf="croppedImage && !errorMessage"
            class="lcars-profile-pic-preview">
            <div class="lcars-text-bar">
              <span>Picture Preview</span>
            </div>
            <div class="cropped-image-container">
              <img
                [src]="croppedImage"
                id="cropped-image-preview"
                alt="Your cropped selection" />
            </div>
          </div>

          <div class="lcars-profile-pic-buttons">
            <div class="lcars-text-bar">
              <span>Primary Controls</span>
            </div>
            <div
              class="buttons-container"
              mat-dialog-actions>
              <button
                type="submit"
                class="submit-button"
                mat-button
                [disabled]="!croppedImage || isSubmitting || errorMessage"
                (click)="onUploadImageClick(); $event.preventDefault()">
                Upload
              </button>
              <button
                type="button"
                class="red"
                mat-button
                mat-dialog-close
                [disabled]="isSubmitting"
                (click)="onCloseClick()">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
