<div>
  <h1>About the {{ appTitle }}</h1>
  <div class="lcars-text-bar">
    <h2><span>About me, the developer</span></h2>
  </div>
  <p>
    My name is Steve, mostly known in the Star Trek Online community as
    MidNiteShadow7. I have been a podcaster and I was previously a STO forum
    moderator. For my work, I am a software developer from the UK.
  </p>

  <div class="lcars-text-bar">
    <h2><span>The App</span></h2>
  </div>
  <p>
    This app was born from having my Excel spreadsheet getting too big to manage
    96 character across 6 accounts on 2 platforms! As my spreadsheet was
    struggling to keep up, I decided to make an app.
  </p>
  <p>
    The plan is to have this app be able to track informarion about your STO
    accounts, characters and fleets.
  </p>

  <div class="lcars-text-bar">
    <h2><span>Connect with me in-game</span></h2>
  </div>
  <p>
    If you want to connect with me in Star Trek Online, my PC handle is
    <span class="go-sunflower">&#64;MidNiteShadow7</span> and on PlayStation it
    is <span class="go-sunflower">&#64;MidNiteGeek</span>.
  </p>
</div>
