<div>
  <h1>About the {{ appTitle }}</h1>
  <div class="lcars-text-bar">
    <h2><span>About me, the developer</span></h2>
  </div>
  <p>
    My name is Steve, mostly known in the Star Trek Online community as
    MidNiteShadow7. I have been a podcaster and I was previously a STO forum
    moderator. For my work, I am a software developer from the UK.
  </p>

  <div class="lcars-text-bar">
    <h2><span>The App</span></h2>
  </div>
  <p>
    This app was born from having my Excel spreadsheet getting too big to manage
    96 character across 6 accounts on 2 platforms! As my spreadsheet was
    struggling to keep up, I decided to make an app.
  </p>
  <p>
    The plan is to have this app be able to track informarion about your STO
    accounts, characters and fleets.
  </p>

  <div class="lcars-text-bar">
    <h2><span>Connect with me in-game</span></h2>
  </div>
  <p>
    If you want to connect with me in Star Trek Online, my PC handle is
    <span class="go-sunflower">@MidNiteShadow7</span> and on PlayStation it is
    <span class="go-sunflower">@MidNiteGeek</span>.
  </p>

  <div class="lcars-text-bar">
    <h2><span>Lipsum</span></h2>
  </div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo
    fermentum sapien ac consequat. Nam commodo commodo gravida. Pellentesque sit
    amet aliquet diam. Vivamus eget ipsum eu tellus elementum ornare sit amet in
    arcu. Morbi egestas dignissim augue hendrerit volutpat. Nam egestas augue
    sed felis imperdiet, in sodales lacus vulputate. Duis ex enim, vulputate at
    fermentum rutrum, cursus ac dui.
  </p>
  <p>
    Etiam tempus magna ut fermentum pulvinar. Integer pulvinar posuere mi nec
    porttitor. Nullam ornare euismod sagittis. Nam accumsan, orci at porta
    efficitur, turpis dolor feugiat ex, vel sollicitudin odio dolor vitae magna.
    Mauris eleifend dui risus, iaculis tempus ipsum luctus ut. Ut eu elit eu
    nisl vulputate euismod. Praesent vestibulum mollis urna quis feugiat. Morbi
    semper lacus sed pretium vestibulum. Ut eros elit, consectetur sed facilisis
    at, gravida a ipsum. Orci varius natoque penatibus et magnis dis parturient
    montes, nascetur ridiculus mus. Vestibulum viverra bibendum dolor consequat
    faucibus. Sed metus leo, consectetur vitae urna non, varius dignissim metus.
    Sed sodales, elit ut ullamcorper tincidunt, justo massa consequat risus, a
    tempus dolor neque vitae ante.
  </p>
  <p>
    Vivamus leo diam, auctor eget ornare eu, dapibus eget eros. Proin faucibus
    scelerisque leo. Praesent placerat lorem placerat lacus elementum consequat.
    Etiam in sollicitudin orci, ac convallis neque. Sed vel pulvinar eros. Morbi
    sit amet euismod nunc. Sed in posuere purus. Fusce semper ipsum enim, dictum
    tempus lectus commodo ac. Integer dictum ipsum quis arcu ultrices semper.
    Pellentesque ac tortor hendrerit, condimentum leo at, dictum dui. Fusce
    vitae ipsum eu mauris eleifend interdum. Vestibulum aliquet urna nec purus
    euismod finibus. Pellentesque tellus elit, tincidunt vitae erat id, mollis
    interdum orci. In id felis eget turpis tempus luctus eget eu urna. Aliquam
    quis lectus sed dolor laoreet condimentum nec sed mauris. Mauris dapibus
    porta mi nec vulputate.
  </p>
  <p>
    Etiam consequat magna in dictum venenatis. Nulla et sapien vitae est congue
    mattis. Sed eleifend, orci at bibendum porttitor, metus ligula facilisis
    nulla, at venenatis mauris eros ut enim. In hac habitasse platea dictumst.
    Cras diam nulla, efficitur eu egestas dapibus, consequat id ligula. Nunc
    quis dui in leo dictum condimentum eget vitae dolor. Curabitur vel sem odio.
    Curabitur eu sollicitudin massa. Maecenas quis massa sapien. Vivamus ac
    lacinia orci. Ut ultrices vel nibh non feugiat. Cras et tortor porta,
    vestibulum mi sit amet, tempus neque.
  </p>
  <p>
    Nam id arcu ac nunc faucibus blandit et a nisl. Pellentesque lacinia, purus
    ac tristique finibus, mauris dui sodales ante, non fermentum eros nulla sed
    nibh. Curabitur finibus condimentum erat. Mauris commodo pulvinar felis ac
    bibendum. Donec luctus leo sit amet bibendum lobortis. Etiam id volutpat
    tortor. Mauris iaculis arcu nec lacus aliquet, non fermentum erat dignissim.
    Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus
    sodales tortor volutpat maximus laoreet. Nam efficitur vel nisl et
    consectetur. Donec consectetur lacus sed leo euismod, eu tempus metus
    varius.
  </p>
</div>
