.register-now-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

  .lcars-text-bar {
    width: 100%;
    margin: 32px 0 0 0;
  }

  .buttons {
    width: 100%;
    margin-top: 5px;
  }
}
