@if (!user) {
  <app-loading-bar></app-loading-bar>
}

@if (user) {
  <div id="personnel-record-container">
    <div
      id="personnel-record-main-column"
      class="col">
      <h1>Personnel Record</h1>
      <div id="personnel-record-main-content">
        <div class="lcars-text-bar personnel-lcars-text-bar">
          <span>Personal Details</span>
          <span
            class="cta-icon"
            (click)="editUserProfile()"
            (keypress)="editUserProfile()"
            title="Edit Personal Details"
            ><fa-icon [icon]="['fas', 'user-pen']"></fa-icon
          ></span>
        </div>
        <div class="personnel-record-inner-content">
          <p>
            <span class="record-title">Rank:</span>
            Captain
          </p>
          <p>
            <span class="record-title">Name:</span>
            {{ user.profile?.firstName || 'Unknown' }}
            {{ user.profile?.lastName }}
          </p>
          <p>
            <span class="record-title">Username:</span>
            {{ user.profile?.username }}
          </p>
          <p>
            <span class="record-title">Email:</span> {{ user.email }}
            <fa-icon
              [icon]="['fas', 'lock']"
              class="restricted-icon go-red"
              title="Restricted: Cannot be changed"></fa-icon>
          </p>
        </div>
        <div class="lcars-text-bar personnel-lcars-text-bar">
          <span>Activity</span>
        </div>
        <div class="personnel-record-inner-content">
          <p>
            <span class="record-title">Last logged in:</span>
            {{ timeSinceLastLogin() }}
          </p>
          <p>
            <span class="record-title">Password last reset:</span>
            {{ timeSinceLastPasswordReset() }}
          </p>
          <p>
            <span class="record-title">Record last updated:</span>
            {{ timeSinceLastUpdated() }}
          </p>
          <p>
            <span class="record-title">Commissioned:</span>
            {{ timeSinceUserCreated() }}
          </p>
        </div>
      </div>
    </div>
    <div
      id="personnel-record-side-column"
      class="col">
      <div class="lcars-text-bar small-lcars-bar-gap">
        <span>Photo</span>
        <span
          class="cta-icon"
          (click)="editUserProfilePhoto()"
          (keypress)="editUserProfilePhoto()"
          title="Edit Photo"
          ><fa-icon [icon]="['fas', 'user-pen']"></fa-icon
        ></span>
      </div>
      <div id="personnel-image">
        <div class="pics-right">
          @if (!user.profile?.profilePicture300) {
            <img
              src="{{ unavailablePhotoSrc }}"
              alt="Unavailable"
              class="border"
              loading="lazy" />
          }
          @if (user.profile?.profilePicture300) {
            <img
              [src]="user.profile?.profilePicture300"
              alt="{{ user.profile?.firstName }} {{ user.profile?.lastName }}"
              class="border"
              (error)="onProfileImageError($event)"
              loading="lazy" />
          }
        </div>
      </div>
      <div class="lcars-text-bar">
        <span>Auxiliary Controls</span>
      </div>
      <div class="buttons">
        <a
          [routerLink]="getRouteLink(appRoutes.STO_DASHBOARD)"
          class="full-width-btn-link sunflower"
          >Return to Dashboard</a
        >
        <a
          [routerLink]="getRouteLink(appRoutes.RESET_PASSWORD)"
          class="full-width-btn-link gold"
          >Reset Password</a
        >
      </div>
    </div>
  </div>
}
