.reset-password-container {
  .password-reset-side-col {
    max-width: 400px;
  }

  .form-container {
    max-width: 500px;
  }

  #password-reset-message-container {
    width: 100%;
  }

  #reset-password-form-container {
    width: 80%;
  }
}
