<div class="wrap-everything">
  <section id="column-3">
    <div class="wrap">
      <div
        #scrollTopButton
        class="scroll-top">
        <a
          (click)="scrollToTop()"
          id="scroll-top"
          ><span class="hop">screen</span> top</a
        >
      </div>
      <div class="left-frame-top">
        <div class="panel panel-1">
          <a
            *ngIf="!isLoggedIn"
            routerLink="/login"
            >Login</a
          >
          <a
            *ngIf="isLoggedIn"
            (click)="logout()"
            >Logout</a
          >
        </div>
        <div
          class="panel panel-2"
          [innerHTML]="sideColumnRandomTextItems[0]"></div>
      </div>
      <div class="right-frame-top">
        <div class="banner">{{ appTitle }}</div>
        <div class="data-cascade-button-group">
          <div class="cascade-wrapper">
            <div
              class="data-cascade"
              id="default">
              <div [innerHTML]="dataCascade"></div>
            </div>
          </div>
          <nav id="nav-standard">
            <a
              href="/"
              id="b-one"
              >Home</a
            >
            <a
              href="/about"
              id="b-two"
              >About</a
            >
            <a
              href="{{ appLoggedInHome }}"
              id="b-three"
              >Dashboard</a
            >
            <a
              href="/contact"
              id="b-four"
              >Contact</a
            >
          </nav>
        </div>
        <div class="bar-panel first-bar-panel">
          <div class="bar-1"></div>
          <div class="bar-2"></div>
          <div class="bar-3"></div>
          <div class="bar-4"></div>
          <div class="bar-5"></div>
        </div>
      </div>
    </div>
    <div
      class="wrap lcars-main-content-container"
      id="gap">
      <div class="left-frame">
        <div class="panel-grow-container">
          <div class="panel panel-3"></div>
          <div class="sidebar-buttons">
            <a href="">button 01</a>
            <a href="">button 02</a>
          </div>
          <div class="panel panel-4"></div>
          <div class="panel panel-5"></div>
          <div
            class="panel panel-6"
            [innerHTML]="sideColumnRandomTextItems[1]"></div>
          <!-- <div class="panel panel-7"></div>
          <div class="panel panel-8"></div>
          <div class="panel panel-9"></div>
          <div class="panel panel-10"></div> -->
        </div>
      </div>
      <div class="right-frame">
        <div class="bar-panel">
          <div class="bar-6"></div>
          <div class="bar-7"></div>
          <div class="bar-8"></div>
          <div class="bar-9"></div>
          <div class="bar-10"></div>
        </div>
        <main>
          <router-outlet></router-outlet>
        </main>

        <footer>
          <div class="footer-inside">
            <div class="footer-text">
              <p>Copyright &#169; {{ currentYear }} {{ appTitle }}.</p>
              <p>
                LCARS Inspired Website Template by Jim Robertus
                <a href="https://www.thelcars.com">www.TheLCARS.com</a>.
              </p>
            </div>
          </div>
          <div class="footer-panel"></div>
        </footer>
      </div>
    </div>
  </section>
</div>
