<div class="flexbox">
  <div class="col">
    <h1>Verify Email</h1>
    @if (!message) {
      <div class="result-message-container">
        <p>Welcome! We're glad you registered with us. You're almost there!</p>
        <p>
          Click the button below to complete the process and gain full access to
          our service.
        </p>
        <button
          (click)="verifyEmail()"
          class="submit-button gold blink"
          id="verify-btn">
          Verify Email
        </button>
      </div>
    }
    @if (message) {
      <div class="result-message-container">
        @switch (messageType) {
          @case (MessageType.Error) {
            <app-lcars-error-message
              title="Verification Status"
              [message]="message"></app-lcars-error-message>
          }
          @case (MessageType.Success) {
            <app-lcars-success-message
              title="Verification Status"
              [message]="message"></app-lcars-success-message>
          }
          @case (MessageType.Info) {
            <app-lcars-information-message
              title="Verification Status"
              [message]="message"></app-lcars-information-message>
          }
        }
      </div>
    }
  </div>
  <div class="col right">
    <div class="lcars-login-link-container">
      <div class="lcars-text-bar">
        <span>Already verified?</span>
      </div>
      <div class="buttons">
        <a
          [routerLink]="getRouteLink(appRoutes.LOGIN)"
          class="full-width-btn-link sunflower"
          >Login</a
        >
      </div>

      @if (showResendVerificationEmailButton) {
        <div class="lcars-retry-verify-link-container">
          <div class="buttons">
            <a
              (click)="resendVerificationEmail()"
              class="full-width-btn-link"
              >Resend Verification Email</a
            >
          </div>
        </div>
      }
    </div>
  </div>
</div>
