<div class="flexbox">
  <div class="col">
    <h1>Registration Complete</h1>
    <p>Congratulations, you have successfully registered.</p>

    <p>
      To complete your registration process, we need to verify your email
      address.
    </p>

    <p>
      Please check your inbox for an email from us and follow the instructions
      to verify your account.
    </p>

    <p>Thank you for choosing to be a part of our community!</p>

    <p>Live long and prosper</p>
  </div>
  <div class="col right">
    <div class="lcars-sidebar-container">
      <div class="lcars-text-bar">
        <span>Already verified?</span>
      </div>
      <div class="buttons">
        <a
          href="/login"
          class="full-width-btn-link sunflower"
          >Login</a
        >
      </div>
    </div>
  </div>
</div>
