<div id="footer-inside">
  <div id="footer-text">
    <div id="footer-links-container">
      <div
        id="footer-list-container"
        class="flexbox">
        <div class="col footer-list-col">
          <ul class="lcars-list">
            <li>
              <a
                [routerLink]="getRouteLink('HOME')"
                [routerLinkActiveOptions]="{ exact: true }"
                routerLinkActive="active"
                >Home</a
              >
            </li>
            <li>
              <a
                [routerLink]="getRouteLink(appRoutes.STO_DASHBOARD)"
                [routerLinkActiveOptions]="{ exact: true }"
                routerLinkActive="active"
                >Dashboard</a
              >
            </li>
          </ul>
        </div>
        <div class="col footer-list-col">
          <ul class="lcars-list">
            <li>
              <a
                [routerLink]="getRouteLink(appRoutes.ABOUT)"
                [routerLinkActiveOptions]="{ exact: true }"
                routerLinkActive="active"
                >About</a
              >
            </li>
            <li>
              <a
                [routerLink]="getRouteLink(appRoutes.CONTACT)"
                [routerLinkActiveOptions]="{ exact: true }"
                routerLinkActive="active"
                >Contact</a
              >
            </li>
          </ul>
        </div>
        <div class="col footer-list-col">
          <ul class="lcars-list">
            <li>
              <a
                [routerLink]="getRouteLink(appRoutes.CREDITS)"
                [routerLinkActiveOptions]="{ exact: true }"
                routerLinkActive="active"
                >Credits</a
              >
            </li>
            <li>
              <a
                [routerLink]="getRouteLink(appRoutes.PRIVACY_POLICY)"
                [routerLinkActiveOptions]="{ exact: true }"
                routerLinkActive="active"
                >Privacy policy</a
              >
            </li>
            <li>
              <a
                [routerLink]="getRouteLink(appRoutes.TERMS_OF_USE)"
                [routerLinkActiveOptions]="{ exact: true }"
                routerLinkActive="active"
                >Terms of use</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="copyright-text">
      <p>Copyright &#169; {{ currentYear }} {{ appTitle }}. All rights reserved.</p>
      <p class="fan-made">This app is a fan-made project and is not affiliated with or sponsored by Cryptic Studios, CBS Studios, or Paramount Global. Star Trek Online and related marks are the property of their respective owners.</p>
    </div>
  </div>
</div>
<div id="footer-panel-container">
  <div id="footer-panel">v{{ appVersion }}</div>
</div>
