<div id="footer-links-container">
  <div
    id="footer-list-container"
    class="flexbox">
    <div class="col footer-list-col">
      <ul class="lcars-list">
        <li>
          <a
            [routerLink]="getRouteLink('HOME')"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            >{{ appRouteTitles.HOME }}</a
          >
        </li>
        <li>
          <a
            [routerLink]="getRouteLink(appRoutes.STO_DASHBOARD)"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            >{{ appRouteTitles.STO_DASHBOARD }}</a
          >
        </li>
        <li>
          <a
            [routerLink]="getRouteLink(appRoutes.STO_DASHBOARD_STATS)"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            >{{ appRouteTitles.STO_DASHBOARD_STATS }}</a
          >
        </li>
        <li>
          <a
            [routerLink]="getRouteLink(appRoutes.COMMUNITY)"
            routerLinkActive="active"
            >{{ appRouteTitles.COMMUNITY }}</a
          >
        </li>
        <li>
          <a
            [routerLink]="getRouteLink(appRoutes.RESOURCES)"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            >{{ appRouteTitles.RESOURCES }}</a
          >
        </li>
      </ul>
    </div>
    <div class="col footer-list-col">
      <ul class="lcars-list">
        <li>
          <a
            [routerLink]="getRouteLink(appRoutes.NEWS)"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            >{{ appRouteTitles.NEWS }}</a
          >
        </li>
        <li>
          <a
            [routerLink]="getRouteLink(appRoutes.NOTIFICATIONS)"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            >{{ appRouteTitles.NOTIFICATIONS }}</a
          >
        </li>
        <li>
          <a
            [routerLink]="getRouteLink(appRoutes.CONTACT)"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            >{{ appRouteTitles.CONTACT }}</a
          >
        </li>
        <li>
          <a
            [routerLink]="getRouteLink(appRoutes.ROADMAP)"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            >{{ appRouteTitles.ROADMAP }}</a
          >
        </li>
      </ul>
    </div>
    <div class="col footer-list-col">
      <ul class="lcars-list">
        <li>
          <a
            [routerLink]="getRouteLink(appRoutes.ABOUT)"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            >{{ appRouteTitles.ABOUT }}</a
          >
        </li>
        <li>
          <a
            [routerLink]="getRouteLink(appRoutes.CREDITS)"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            >{{ appRouteTitles.CREDITS }}</a
          >
        </li>
        <li>
          <a
            [routerLink]="getRouteLink(appRoutes.PRIVACY_POLICY)"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            >{{ appRouteTitles.PRIVACY_POLICY }}</a
          >
        </li>
        <li>
          <a
            [routerLink]="getRouteLink(appRoutes.TERMS_OF_USE)"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            >{{ appRouteTitles.TERMS_OF_USE }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="copyright-text">
  <p>Copyright &#169; {{ currentYear }} {{ appTitle }}. All rights reserved.</p>
  <p class="fan-made">
    This app is a fan-made project and is not affiliated with or sponsored by
    Cryptic Studios, CBS Studios, or Paramount Global. Star Trek Online and
    related marks are the property of their respective owners.
  </p>
</div>
