<div class="footer-inside">
  <div class="footer-text">
    <p>Copyright &#169; {{ currentYear }} {{ appTitle }}.</p>
    <p>
      LCARS Inspired Website Template by Jim Robertus
      <a
        target="_blank"
        href="https://www.thelcars.com"
        >www.TheLCARS.com</a
      >. Using
      <a
        target="_blank"
        href="https://icons8.com/icons/set/star-trek"
        >Star Trek icons</a
      >
      provided by
      <a
        target="_blank"
        href="https://icons8.com"
        >Icons8</a
      >.
    </p>
  </div>
</div>
<div class="footer-panel">v{{ appVersion }}</div>
