<div id="credits-content-container">
  <h1>Credits</h1>
  <h2>Developers</h2>
  <p>
    The primary developer for the {{ appTitle }} is Steve Roberts. Steve has
    been developing websites, apps and providing various software and hardware
    support since the late 1990s.
  </p>
  <h2>LCARS Theme</h2>
  <p>
    <a
      target="_blank"
      href="https://en.wikipedia.org/wiki/Michael_Okuda"
      >Michael Okuda<fa-icon
        [icon]="['fas', 'external-link']"
        class="ext-link"></fa-icon
    ></a>
    designed the
    <a
      target="_blank"
      href="https://memory-alpha.fandom.com/wiki/Library_Computer_Access_and_Retrieval_System"
      >LCARS (Library Computer Access and Retrieval System)<fa-icon
        [icon]="['fas', 'external-link']"
        class="ext-link"></fa-icon
    ></a>
    graphical user interface for
    <a
      target="_blank"
      href="https://memory-alpha.fandom.com/wiki/Star_Trek:_The_Next_Generation"
      >Star Trek: The Next Generation<fa-icon
        [icon]="['fas', 'external-link']"
        class="ext-link"></fa-icon></a
    >.
  </p>
  <p>
    The Star Trek Online Info Portal web theme was initially taken from
    <a
      target="_blank"
      href="https://www.thelcars.com"
      >TheLCARS.com<fa-icon
        [icon]="['fas', 'external-link']"
        class="ext-link"></fa-icon></a
    >. The LCARS-Inspired Website Template was designed and developed by Jim
    Robertus and then adapted by Steve Roberts.
  </p>
  <p>
    This app does not claim any copyright or intellectual property rights from
    Star Trek or Star Trek Online. Please see this app's
    <a [routerLink]="getRouteLink(appRoutes.TERMS_OF_USE)">terms of use</a>.
  </p>
  <h2>Iconography</h2>
  <p>
    This portal uses
    <a
      target="_blank"
      href="https://fontawesome.com/"
      >FontAwesome<fa-icon
        [icon]="['fas', 'external-link']"
        class="ext-link"></fa-icon
    ></a>
    licenced icons. Sometimes, icons or images are provided by
    <a
      target="_blank"
      href="https://icons8.com"
      >Icons8<fa-icon
        [icon]="['fas', 'external-link']"
        class="ext-link"></fa-icon
    ></a>
    or
    <a
      target="_blank"
      href="https://favpng.com"
      >FAVPNG<fa-icon
        [icon]="['fas', 'external-link']"
        class="ext-link"></fa-icon
    ></a>
    for free, as this app is a non-commercial and not-for-profit community
    facility.
  </p>
</div>
