<div id="credits-content-container">
  <h1>Credits</h1>
  <h2>
    <abbr title="Library Computer Access and Retrieval System">LCARS</abbr>
    Theme
  </h2>
  <p>
    <a
      target="_blank"
      href="https://en.wikipedia.org/wiki/Michael_Okuda"
      >Michael Okuda<i
        class="fas fa-external-link ext-link"
        title="(*external link)"></i
    ></a>
    originally designed the
    <a
      target="_blank"
      href="https://memory-alpha.fandom.com/wiki/Library_Computer_Access_and_Retrieval_System"
      ><abbr title="Library Computer Access and Retrieval System">LCARS</abbr>
      (Library Computer Access and Retrieval System)<i
        class="fas fa-external-link ext-link"
        title="(*external link)"></i
    ></a>
    interface for
    <a
      target="_blank"
      href="https://memory-alpha.fandom.com/wiki/Star_Trek:_The_Next_Generation"
      >Star Trek: The Next Generation<i
        class="fas fa-external-link ext-link"
        title="(*external link)"></i
    ></a>
    TV series.
  </p>
  <p>
    The Star Trek Online Info Portal web theme was initially taken from
    <a
      target="_blank"
      href="https://www.thelcars.com"
      >TheLCARS.com<i
        class="fas fa-external-link ext-link"
        title="(*external link)"></i></a
    >. The LCARS-Inspired Website Template was designed and developed by Jim
    Robertus and then adapted by Steve Roberts.
  </p>
  <p>
    This app does not claim any copyright or intellectual property rights from
    <a
      target="_blank"
      href="https://startrek.com/"
      >Star Trek<i
        class="fas fa-external-link ext-link"
        title="(*external link)"></i
    ></a>
    or
    <a
      target="_blank"
      href="https://playstartrekonline.com/"
      >Star Trek Online<i
        class="fas fa-external-link ext-link"
        title="(*external link)"></i></a
    >. Please see this app's
    <a [routerLink]="getRouteLink(appRoutes.TERMS_OF_USE)">terms of use</a>.
  </p>
  <h2>Game Assets & Screenshots</h2>
  <p>
    Star Trek Online game assets, screenshots, logos, ship imagery and related
    materials remain the property of their respective rights holders.
  </p>
  <p>
    All in-game screenshots are captured from
    <a
      target="_blank"
      href="https://www.playstartrekonline.com/">
      Star Trek Online
      <i
        class="fas fa-external-link ext-link"
        title="(*external link)"></i>
    </a>
    and are used for informational and community reference purposes only.
  </p>
  <p>
    This site is not affiliated with, endorsed by, or sponsored by Cryptic
    Studios or Paramount.
  </p>
  <h2>Community Resources</h2>
  <p>
    Some informational content and images are derived from or cross-referenced
    with
    <a
      target="_blank"
      href="https://stowiki.net/">
      STOwiki
      <i
        class="fas fa-external-link ext-link"
        title="(*external link)"></i> </a
    >, a community-maintained Star Trek Online knowledge base.
  </p>
  <p>
    STOwiki content that it may lawfully license is provided under the Creative
    Commons Attribution-ShareAlike 4.0 licence. Where we use STOwiki-sourced
    content, we will provide attribution and (where applicable) link to the
    relevant STOwiki page for licensing/copyright details.
  </p>
  <p>
    When enabled, user-submitted screenshots will be credited to the uploader
    where shown. Please see the terms of use for rules on submissions and
    permitted content.
  </p>
  <h2>Iconography</h2>
  <p>
    This portal uses
    <a
      target="_blank"
      href="https://fontawesome.com/"
      >FontAwesome<i
        class="fas fa-external-link ext-link"
        title="(*external link)"></i
    ></a>
    licenced icons. Sometimes, icons or images are provided by
    <a
      target="_blank"
      href="https://icons8.com"
      >Icons8<i
        class="fas fa-external-link ext-link"
        title="(*external link)"></i
    ></a>
    or
    <a
      target="_blank"
      href="https://favpng.com"
      >FAVPNG<i
        class="fas fa-external-link ext-link"
        title="(*external link)"></i
    ></a>
    for free, as this app is a non-commercial and not-for-profit community
    facility.
  </p>
</div>
