<h1>Terms of use</h1>

<p>
  Welcome to the {{ appTitle }} for tracking your Star Trek Online accounts,
  characters, and activities. The portal gets provided as-is to users as a free
  resource to the Star Trek Online community, and by using this portal, you
  agree to the following terms of use.
</p>

<h2>1. Acceptance of Terms</h2>
<p>
  By using this portal, you agree to comply with these terms of use. If you do
  not agree with any of these terms, please do not use this portal.
</p>

<h2>2. Intellectual Property Rights</h2>
<p>
  This app respects the copyright and intellectual property rights of Star Trek
  Online and Star Trek. CBS Studios Inc. owns STAR TREK, and Cryptic Studios Inc
  owns STAR TREK ONLINE with all their related marks, logos and characters. The
  LCARS-inspired template was designed & developed by Jim Robertus and modified
  by Steve Roberts. Users are prohibited from reproducing, distributing, or
  modifying any content from this portal without permission from the respective
  creative or copyright owner.
</p>

<h2>3. Prohibited Actions</h2>
<p>
  Users are prohibited from using this portal for any illegal or unauthorised
  purpose, including, but not limited to, hacking, spamming, or distributing
  malware. Users are also prohibited from harassing or threatening other users
  or engaging in any activity that interferes with the regular operation of this
  app.
</p>

<h2>4. Consequences of Violation</h2>
<p>
  Any user who violates these terms of use may be subject to account suspension
  or termination without warning.
</p>

<div class="lcars-bar">
  <div class="lcars-bar-inner"></div>
</div>

<p>
  We hope you enjoy your experience and appreciate your commitment to following
  these terms of use.
</p>
