@if ((backendHealth.state$ | async) === 'DOWN') {
  <div class="backend-status-banner">
    <div
      id="warning-code-container"
      class="blink">
      503 Error
    </div>
    <h1>Service Unavailable</h1>
    <p>Captain's Log, Stardate 503.</p>
    <p>
      A temporary systems failure has disrupted communications with our core
      services. Engineering teams are actively restoring functionality. Please
      stand by — normal operations will resume shortly.
    </p>
    <p>Live long and prosper!</p>
    <p>Starfleet Web Development Team</p>
  </div>
}
