<div class="custom-tracking-panel">
  <app-custom-tracking-section-bar
    [name]="name"
    [summary]="childSummary"
    [publiclyVisible]="publiclyVisible"
    [suppressed]="suppressed"
    [isExpanded]="isExpanded"
    [contentId]="contentId"
    (toggled)="toggled.emit()">
    <app-custom-tracking-reorder-controls
      barActions
      [itemName]="name"
      [index]="index"
      [count]="count"
      (moveUp)="moveUp.emit()"
      (moveDown)="moveDown.emit()">
    </app-custom-tracking-reorder-controls>

    <button
      barActions
      type="button"
      class="cta-icon"
      [title]="'Edit ' + name"
      [attr.aria-label]="'Edit ' + name"
      [disabled]="isSaving"
      (click)="edited.emit()">
      <i
        class="fa-solid fa-user-pen"
        aria-hidden="true"></i>
    </button>

    <button
      barActions
      type="button"
      class="cta-icon delete-icon"
      [title]="'Delete ' + name"
      [attr.aria-label]="'Delete ' + name"
      [disabled]="isSaving"
      (click)="removed.emit()">
      <i
        class="fa-solid fa-trash"
        aria-hidden="true"></i>
    </button>
  </app-custom-tracking-section-bar>

  <div
    class="custom-tracking-panel-body"
    [id]="contentId"
    [hidden]="!isExpanded">
    @if (description) {
      <p class="custom-tracking-panel-description">{{ description }}</p>
    }

    <ng-content></ng-content>
  </div>
</div>
