@if (isSubmitting) {
  <app-loading-bar loadingText="Registering"></app-loading-bar>
}
<div class="register-container">
  <div class="flexbox">
    <div class="col">
      <div class="form-container">
        <h1>Register</h1>
        <form
          [formGroup]="registerForm"
          (ngSubmit)="onRegister()"
          class="form"
          novalidate>
          <div class="lcars-input-container cool">
            <label for="firstName">First Name</label>
            <input
              type="text"
              id="firstName"
              formControlName="firstName" />
            @if (
              registerForm.controls['firstName'].errors?.['required'] &&
              (registerForm.controls['firstName'].touched || isSubmitting)
            ) {
              <div class="field-error">{{ errorTextFirstNameRequired }}</div>
            }
            @if (
              registerForm.controls['firstName'].errors?.['maxlength'] &&
              (registerForm.controls['firstName'].touched || isSubmitting)
            ) {
              <div class="field-error">{{ errorTextNamesMaxLength }}</div>
            }
          </div>

          <div class="lcars-input-container cool">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              id="lastName"
              formControlName="lastName" />
            @if (
              registerForm.controls['lastName'].errors?.['required'] &&
              (registerForm.controls['lastName'].touched || isSubmitting)
            ) {
              <div class="field-error">{{ errorTextLastNameRequired }}</div>
            }
            @if (
              registerForm.controls['lastName'].errors?.['maxlength'] &&
              (registerForm.controls['lastName'].touched || isSubmitting)
            ) {
              <div class="field-error">{{ errorTextNamesMaxLength }}</div>
            }
          </div>

          <div class="lcars-input-container perano">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username" />
            @if (
              registerForm.controls['username'].errors?.['required'] &&
              (registerForm.controls['username'].touched || isSubmitting)
            ) {
              <div class="field-error">{{ errorTextUsernameRequired }}</div>
            }
            @if (
              registerForm.controls['username'].errors?.['minlength'] &&
              (registerForm.controls['username'].touched || isSubmitting)
            ) {
              <div class="field-error">{{ errorTextUsernameMinLength }}</div>
            }
            @if (
              registerForm.controls['username'].errors?.['maxlength'] &&
              (registerForm.controls['username'].touched || isSubmitting)
            ) {
              <div class="field-error">{{ errorTextUsernameMaxLength }}</div>
            }
            @if (
              registerForm.controls['username'].errors?.['uniqueUsername'] &&
              (registerForm.controls['username'].touched || isSubmitting)
            ) {
              <div class="field-error">{{ errorTextUsernameTaken }}</div>
            }
            @if (
              registerForm.controls['username'].errors?.['pattern'] &&
              (registerForm.controls['username'].touched || isSubmitting)
            ) {
              <div class="field-error">{{ errorTextUsernamePattern }}</div>
            }
          </div>

          <div class="lcars-input-container sky">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              formControlName="email" />
            @if (
              registerForm.controls['email'].errors?.['required'] &&
              (registerForm.controls['email'].touched || isSubmitting)
            ) {
              <div class="field-error">{{ errorTextEmailRequired }}</div>
            }
            @if (
              registerForm.controls['email'].errors?.['pattern'] &&
              (registerForm.controls['email'].touched || isSubmitting)
            ) {
              <div class="field-error">{{ errorTextEmailInvalidFormat }}</div>
            }
            @if (
              registerForm.controls['email'].errors?.['uniqueEmail'] &&
              (registerForm.controls['email'].touched || isSubmitting)
            ) {
              <div class="field-error">
                {{ errorTextEmailAlreadyRegistered }}
              </div>
            }
            @if (
              registerForm.controls['email'].errors?.['maxlength'] &&
              (registerForm.controls['email'].touched || isSubmitting)
            ) {
              <div class="field-error">
                {{ errorTextEmailAlreadyRegistered }}
              </div>
            }
          </div>

          <div
            class="lcars-input-container violet"
            data-private>
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              formControlName="password" />
            @if (
              registerForm.controls['password'].errors?.['required'] &&
              (registerForm.controls['password'].touched || isSubmitting)
            ) {
              <div class="field-error">{{ errorTextPasswordRequired }}</div>
            }
            @if (
              registerForm.controls['password'].errors?.['minlength'] &&
              (registerForm.controls['password'].touched || isSubmitting)
            ) {
              <div class="field-error">{{ errorTextPasswordMinLength }}</div>
            }
            @if (
              registerForm.controls['password'].errors?.['maxlength'] &&
              (registerForm.controls['password'].touched || isSubmitting)
            ) {
              <div class="field-error">{{ errorTextPasswordMaxLength }}</div>
            }
            @if (
              registerForm.controls['password'].errors?.['pattern'] &&
              (registerForm.controls['password'].touched || isSubmitting)
            ) {
              <div class="field-error">{{ errorTextPasswordComplexity }}</div>
            }
          </div>

          <div
            class="lcars-input-container violet"
            data-private>
            <label for="confirmPassword">Confirm Password</label>
            <input
              type="password"
              id="confirmPassword"
              formControlName="confirmPassword" />
            @if (
              registerForm.controls['confirmPassword'].errors?.['required'] &&
              (registerForm.controls['confirmPassword'].touched || isSubmitting)
            ) {
              <div class="field-error">
                {{ errorTextConfirmationPasswordRequired }}
              </div>
            }
            @if (
              registerForm.controls['confirmPassword'].errors?.['mustMatch'] &&
              (registerForm.controls['confirmPassword'].touched || isSubmitting)
            ) {
              <div class="field-error">{{ errorTextPasswordsDoNotMatch }}</div>
            }
          </div>

          <button
            [disabled]="!registerForm.valid || isSubmitting"
            [ngClass]="{ submitting: isSubmitting }"
            type="submit"
            class="submit-button">
            Register
          </button>
        </form>
      </div>
    </div>
    <div class="col register-side-col">
      <div class="column-container">
        <div class="lcars-text-bar">
          <span>Already registered?</span>
        </div>
        <div class="buttons">
          <a
            [routerLink]="getRouteLink(appRoutes.LOGIN)"
            class="full-width-btn-link sunflower"
            >Login</a
          >
        </div>
      </div>
      @if (errorMessage) {
        <app-lcars-error-message
          title="Access Denied"
          [message]="errorMessage"></app-lcars-error-message>
      }
    </div>
  </div>
</div>
