@if (isSubmitting) {
<app-loading-bar loadingText="Registering"></app-loading-bar>
}
<div class="register-container">
  <div class="flexbox">
    <div class="col">
      <div class="form-container">
        <h1>Register</h1>
        <form
          [formGroup]="registerForm"
          (ngSubmit)="onRegister()"
          class="form"
          novalidate>
          <div class="form-group">
            <label for="firstName">First Name:</label>
            <input
              type="text"
              id="firstName"
              formControlName="firstName" />
            @if ( (registerForm.controls['firstName'].invalid &&
            registerForm.controls['firstName'].touched) || (isSubmitting &&
            registerForm.controls['firstName'].errors) ) {
            <div
              class="invalid-feedback"
              id="firstName-invalid-feedback">
              @if (registerForm.controls['firstName'].errors?.['required']) {
              <div class="helper-error-text">
                {{ errorTextFirstNameRequired }}
              </div>
              } @if (registerForm.controls['firstName'].errors?.['maxlength']) {
              <div class="helper-error-text">
                {{ errorTextNamesMaxLength }}
              </div>
              }
            </div>
            }
          </div>

          <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input
              type="text"
              id="lastName"
              formControlName="lastName" />
            @if ( (registerForm.controls['lastName'].invalid &&
            registerForm.controls['lastName'].touched) || (isSubmitting &&
            registerForm.controls['lastName'].errors) ) {
            <div
              class="invalid-feedback"
              id="lastName-invalid-feedback">
              @if (registerForm.controls['lastName'].errors?.['required']) {
              <div class="helper-error-text">
                {{ errorTextLastNameRequired }}
              </div>
              } @if (registerForm.controls['lastName'].errors?.['maxlength']) {
              <div class="helper-error-text">
                {{ errorTextNamesMaxLength }}
              </div>
              }
            </div>
            }
          </div>

          <div class="form-group">
            <label for="username">Username:</label>
            <input
              type="text"
              id="username"
              formControlName="username" />
            @if ( (registerForm.controls['username'].invalid &&
            registerForm.controls['username'].touched) || (isSubmitting &&
            registerForm.controls['username'].errors) ) {
            <div
              class="invalid-feedback"
              id="username-invalid-feedback">
              @if (registerForm.controls['username'].errors?.['required']) {
              <div class="helper-error-text">
                {{ errorTextUsernameRequired }}
              </div>
              } @if (registerForm.controls['username'].errors?.['minlength']) {
              <div class="helper-error-text">
                {{ errorTextUsernameMinLength }}
              </div>
              } @if (registerForm.controls['username'].errors?.['maxlength']) {
              <div class="helper-error-text">
                {{ errorTextUsernameMaxLength }}
              </div>
              } @if
              (registerForm.controls['username'].errors?.['uniqueUsername']) {
              <div class="helper-error-text">
                {{ errorTextUsernameTaken }}
              </div>
              } @if (registerForm.controls['username'].errors?.['pattern']) {
              <div class="helper-error-text">
                {{ errorTextUsernamePattern }}
              </div>
              }
            </div>
            }
          </div>

          <div class="form-group">
            <label for="email">Email:</label>
            <input
              type="email"
              id="email"
              formControlName="email" />
            @if ( (registerForm.controls['email'].invalid &&
            registerForm.controls['email'].touched) || (isSubmitting &&
            registerForm.controls['email'].errors) ) {
            <div
              class="invalid-feedback"
              id="email-invalid-feedback">
              @if (registerForm.controls['email'].errors?.['required']) {
              <div class="helper-error-text">
                {{ errorTextEmailRequired }}
              </div>
              } @if (registerForm.controls['email'].errors?.['pattern']) {
              <div class="helper-error-text">
                {{ errorTextEmailInvalidFormat }}
              </div>
              } @if (registerForm.controls['email'].errors?.['uniqueEmail']) {
              <div class="helper-error-text">
                {{ errorTextEmailAlreadyRegistered }}
              </div>
              } @if (registerForm.controls['email'].errors?.['maxlength']) {
              <div class="helper-error-text">
                {{ errorTextEmailAlreadyRegistered }}
              </div>
              }
            </div>
            }
          </div>

          <div
            class="form-group"
            data-private>
            <label for="password">Password:</label>
            <input
              type="password"
              id="password"
              formControlName="password" />

            @if ( (registerForm.controls['password'].invalid &&
            registerForm.controls['password'].touched) || (isSubmitting &&
            registerForm.controls['password'].errors) ) {
            <div
              class="invalid-feedback"
              id="password-invalid-feedback">
              @if (registerForm.controls['password'].errors?.['required']) {
              <div class="helper-error-text">
                {{ errorTextPasswordRequired }}
              </div>
              } @if (registerForm.controls['password'].errors?.['minlength']) {
              <div class="helper-error-text">
                {{ errorTextPasswordMinLength }}
              </div>
              } @if (registerForm.controls['password'].errors?.['maxlength']) {
              <div class="helper-error-text">
                {{ errorTextPasswordMaxLength }}
              </div>
              } @if (registerForm.controls['password'].errors?.['pattern']) {
              <div class="helper-error-text">
                {{ errorTextPasswordComplexity }}
              </div>
              }
            </div>
            }
          </div>

          <div
            class="form-group"
            data-private>
            <label for="confirmPassword">Confirm Password:</label>
            <input
              type="password"
              id="confirmPassword"
              formControlName="confirmPassword" />
            @if ( (registerForm.controls['confirmPassword'].invalid &&
            registerForm.controls['confirmPassword'].touched) || (isSubmitting
            && registerForm.controls['confirmPassword'].errors) ) {
            <div
              class="invalid-feedback"
              id="confirmPassword-invalid-feedback">
              @if (
              registerForm.controls['confirmPassword'].errors?.['required'] ) {
              <div class="helper-error-text">
                {{ errorTextConfirmationPasswordRequired }}
              </div>
              } @if
              (registerForm.controls['confirmPassword'].errors?.['mustMatch']) {
              <div class="helper-error-text">
                {{ errorTextPasswordsDoNotMatch }}
              </div>
              }
            </div>
            }
          </div>

          <button
            [disabled]="!registerForm.valid || isSubmitting"
            [ngClass]="{ submitting: isSubmitting }"
            [@progressBarAnimation]="isSubmitting ? 'submitting' : 'idle'"
            type="submit"
            class="submit-button">
            Register
          </button>
        </form>
      </div>
    </div>
    <div class="col register-side-col">
      <div class="column-container">
        <div class="lcars-text-bar">
          <span>Already registered?</span>
        </div>
        <div class="buttons">
          <a
            [routerLink]="getRouteLink(appRoutes.LOGIN)"
            class="full-width-btn-link sunflower"
            >Login</a
          >
        </div>
      </div>
      @if (errorMessage) {
      <app-lcars-error-message
        title="Access Denied"
        [message]="errorMessage"></app-lcars-error-message>
      }
    </div>
  </div>
</div>
