@if (!user) {
<app-loading-bar></app-loading-bar>
}

<div id="dashboard-container">
  <div
    id="dashboard-info-main-column"
    class="col">
    <h1>Dashboard</h1>
    @if (user) {
    <div id="dashboard-info-main-content">
      <p>{{ userGreeting }}</p>
      <p>Summaries will installed on Tuesday!</p>
    </div>
    }
  </div>
  @if (user) {
  <div
    id="dashboard-info-side-column"
    class="col">
    <div class="lcars-text-bar small-lcars-bar-gap">
      <span>Personnel Record</span>
    </div>
    <div id="personnel-image">
      <div class="pics-right">
        @if (!user.profile?.profilePicture300) {
        <img
          src="{{ unavailablePhotoSrc }}"
          alt="Photo unavailable"
          class="border"
          loading="lazy" />
        } @if (user.profile?.profilePicture300) {
        <img
          [src]="user.profile?.profilePicture300"
          alt="{{ user.profile?.firstName }} {{ user.profile?.lastName }}"
          class="border"
          (error)="onProfileImageError($event)"
          loading="lazy" />
        }
        <p class="caption">Captain {{ user.profile?.lastName || '' }}</p>
      </div>
    </div>
    <div class="buttons personnel-buttons">
      <a
        [routerLink]="getRouteLink(appRoutes.STO_DASHBOARD_PROFILE)"
        class="full-width-btn-link sunflower"
        >View record</a
      >
    </div>
  </div>
  }
</div>
