@if (!user) {
  <app-loading-bar></app-loading-bar>
}

<div id="dashboard-container">
  <div
    id="dashboard-info-main-column"
    class="col">
    <h1>Dashboard</h1>
    @if (user) {
      <div id="dashboard-info-main-content">
        <p>{{ userGreeting }}</p>

        <p class="announcement">
          Further enhancements will be installed on Tuesday!
        </p>

        <div class="dashboard-tiles">
          <div
            class="dashboard-tile sunflower"
            [routerLink]="getRouteLink(appRoutes.STO_DASHBOARD_ACCOUNTS)">
            <div class="tile-icon">
              <i class="fas fa-users"></i>
            </div>
            <div class="tile-content">
              <span class="tile-stat">{{ accountsCount }} Accounts</span>
            </div>
          </div>

          <div
            class="dashboard-tile perano"
            [routerLink]="getRouteLink(appRoutes.STO_DASHBOARD_PROFILE)">
            <div class="tile-icon">
              <i class="fas fa-id-card"></i>
            </div>
            <div class="tile-content">
              <span class="tile-stat">Personnel Record</span>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
  @if (user) {
    <div
      id="dashboard-info-side-column"
      class="col">
      <div class="lcars-text-bar small-lcars-bar-gap">
        <span>Personnel Record</span>
      </div>
      <div id="personnel-image">
        <div class="pics-right">
          @if (!user.profile?.profilePicture300) {
            <img
              src="{{ unavailablePhotoSrc }}"
              alt="Photo unavailable"
              title="Photo unavailable"
              class="border"
              loading="lazy" />
          }
          @if (user.profile?.profilePicture300) {
            <img
              [src]="user.profile?.profilePicture300"
              alt="{{ user.profile?.firstName }} {{ user.profile?.lastName }}"
              title="{{ user.profile?.firstName }} {{ user.profile?.lastName }}"
              class="border"
              (error)="onProfileImageError($event)"
              loading="lazy" />
          }
          <p class="caption">Captain {{ user.profile?.lastName || '' }}</p>
        </div>
      </div>
      <div class="buttons personnel-buttons">
        <a
          [routerLink]="getRouteLink(appRoutes.STO_DASHBOARD_PROFILE)"
          class="full-width-btn-link sunflower"
          >View record</a
        >
        <a
          [routerLink]="getRouteLink(appRoutes.STO_DASHBOARD_ACCOUNTS)"
          class="full-width-btn-link sunflower"
          >Manage STO Accounts</a
        >
      </div>
    </div>
  }
</div>
