@charset "utf-8";

@keyframes data-cascade-colour-change {
  0% {
    color: #0c0;
  }
  25% {
    color: #0c0;
  }
  50% {
    color: #0c0;
  }
  75% {
    color: #0c0;
  }
  80% {
    color: #0d0d0d;
  }
  90% {
    color: #0d0d0d;
  }
  100% {
    color: #88ff66;
  }
}

@keyframes alert-green {
  100% {
    background-color: #0c0;
  }
}
