@charset "utf-8";

@keyframes data-cascade-colour-change {
  0% {
    color: #455580;
  }

  25% {
    color: #455580;
  }

  50% {
    color: #455580;
  }

  75% {
    color: #455580;
  }

  80% {
    color: #0d0d0d;
  }

  90% {
    color: #0d0d0d;
  }

  100% {
    color: #9cf;
  }
}

@keyframes alert-red {
  100% {
    background-color: #c00;
  }
}
