@charset "utf-8";

@keyframes colorchange {
  0%,
  25%,
  50%,
  75% {
    color: #ffcc00;
  }
  80%,
  90% {
    color: #0d0d0d;
  }
  100% {
    color: #fff2b3;
  }
}

@keyframes yellowalert {
  100% {
    background-color: #e6b800;
  }
}
