@charset "utf-8";

@keyframes data-cascade-colour-change {
  0% {
    color: #7a7a7a;
  }
  25% {
    color: #7a7a7a;
  }
  50% {
    color: #7a7a7a;
  }
  75% {
    color: #7a7a7a;
  }
  80% {
    color: #0d0d0d;
  }
  90% {
    color: #0d0d0d;
  }
  100% {
    color: #e6e6e6;
  }
}

@keyframes alert-grey {
  100% {
    background-color: #4a4a4a;
  }
}
