<div>
  <h1>Welcome to the {{ appTitle }}!</h1>
  <p>
    A community-driven companion for Star Trek Online players.<br />
    Track your accounts, characters, and soon stats and managing your fleet data
    — all in one place.
  </p>
  <p>
    This is a work in progress, features will be added regularly.
    <i class="fas fa-hand-spock go-sunflower"></i>
  </p>
  <p>
    The Star Trek Online Info portal is a fan-made project and is not affiliated
    with or endorsed by Cryptic Studios or Paramount.
  </p>
  @if (!isLoggedIn) {
    <div class="buttons">
      <a
        [routerLink]="getRouteLink(appRoutes.LOGIN)"
        class="sunflower"
        >Login</a
      >
      <a
        [routerLink]="getRouteLink(appRoutes.REGISTER)"
        class="almond"
        >Register</a
      >
    </div>
  } @else {
    <div class="buttons">
      <a
        [routerLink]="getRouteLink(appRoutes.STO_DASHBOARD_ACCOUNTS)"
        class="sunflower"
        >Accounts</a
      >
      <a
        [routerLink]="getRouteLink(appRoutes.STO_DASHBOARD_PROFILE)"
        class="almond"
        >Profile</a
      >
    </div>
  }
</div>
