<div id="page-not-found-container">
  <div
    id="error-code-container"
    class="blink">
    404 Error
  </div>
  <h1>Page Not Found</h1>

  <p>
    Captain's Log, Stardate 404. We regret to inform you that the page you seek
    to explore has encountered a temporal anomaly and is currently lost in the
    depths of the Delta Quadrant. Our navigational systems still need to locate
    it, and our attempts to establish a subspace communication link have been
    met with silence.
  </p>
  <p>
    Rest assured, our skilled crew of engineers is tirelessly working to restore
    order in the universe of our website. In the meantime, we encourage you to
    explore other sectors of our vast Star Trek universe. Engage in captivating
    tales of exploration, embark on interstellar missions, or delve into the
    rich history of our beloved franchise.
  </p>
  <p>
    Remember, in the realm of the final frontier, even the occasional glitch in
    the space-time continuum can't dampen the spirit of discovery. We apologise
    for any inconvenience caused and promise to bring harmony back to the
    digital cosmos as soon as possible.
  </p>
  <p>May the force... er, I mean, live long and prosper!</p>
  <p>Starfleet Web Development Team</p>
</div>
