@if (isLoading) {
  <app-loading-bar></app-loading-bar>
}

<div id="accounts-container">
  <div
    id="accounts-main-column"
    class="col">
    <h1>Your STO Accounts</h1>
    <div id="accounts-main-content">
      <div class="lcars-text-bar accounts-lcars-text-bar">
        <span>Account List</span>
        <button
          type="button"
          class="cta-icon"
          (click)="addAccount()"
          title="Add STO Account">
          <i class="fas fa-plus"></i>
        </button>
      </div>

      <div class="accounts-inner-content">
        @if (accounts.length === 0 && !isLoading) {
          <p>No STO accounts found. Click the + icon above to add one.</p>
        }

        <div class="accounts-grid">
          @for (vm of accountVms; track vm.id) {
            <app-account-card
              [vm]="vm.card"
              (action)="onAccountCardAction(vm.account, $event)" />
          }
        </div>
      </div>
    </div>
  </div>

  <div
    id="accounts-side-column"
    class="col">
    <div class="lcars-text-bar small-lcars-bar-gap">
      <span>Navigation</span>
    </div>
    <div class="buttons">
      <a
        [routerLink]="dashboardLink"
        class="full-width-btn-link sunflower"
        >{{ appRouteTitles.STO_DASHBOARD }}</a
      >
    </div>
  </div>
</div>
